@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'poppins-regular';
  src: url('../../public/font/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'poppins-semibold';
  src: url('../../public/font/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'poppins-bold';
  src: url('../../public/font/Poppins-Bold.ttf');
}